* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background: linear-gradient( 145deg ,rgba(78, 153, 90, 0.816), rgba(60, 64, 150, 0.816));
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    width: 80vw;
    margin: 50px auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.game-name {
    font-size: 50px;
    font-weight: bolder;
}

.game {
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.game button {
    width: 30%;
    height: 100px;
    font-size: 10vmin;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(71, 143, 143);
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
}

#new-btn,
#reset-btn {
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(128, 126, 118);
    color: white;
    font-size: large;
    border: 2px solid rgb(202, 202, 202);
    transition: all 0.5s;
}

#new-btn:hover,
#reset-btn:hover {
    background-color: rgb(168, 168, 168);
    color: black;
}

.btns {
    width: 50vmin;
    display: flex;
    justify-content: space-around;
}

#result {
    font-size: 35px;
}

.hide {
    display: none;
}

@media screen and (max-width: 500px) {
    .container{
        width: 90vw;
        margin: 100px auto;
    }
    .game-name{
        font-size: 40px;
    }
    .game button{
        height: 60px;
        width: 29%;
        border-radius: 10px;
    }
    .btns{
        flex-direction: column;
        gap: 10px;
    }
    #new-btn,
#reset-btn{
    border-radius: 10px;
        border: 1px solid rgb(202, 202, 202);
        padding: 10px;
        font-weight: bolder;
}
    #result{
        font-size: 30px;
    }
}